<div class="columns_group">
	<div class="column">
		<div class="wrap">
			<img src="images/icon01.svg" alt="">
			<div class="title">Modern workforce</div>
			<div class="description">Multistakeholder governance aligns employees with the organization’s wider community.
			</div>
		</div>
	</div>
	<div class="column">
		<div class="wrap">
			<img src="images/icon02.svg" alt="">
			<div class="title">Meritocratic by design</div>
			<div class="description">Tokenized ownership aligns deeply committed individuals with the organization’s
				success.</div>
		</div>
	</div>
	<div class="column">
		<div class="wrap">
			<img src="images/icon03.svg" alt="">
			<div class="title">Engineered for resilience</div>
			<div class="description">Open Enterprise supports best practices in sociocratic management.</div>
		</div>
	</div>
</div>