// settings main
$body_color:#303031;
$body_bg:#E5E5E5;
$placeholder_color:#999;
$selection_bg:#2600ff;
$selection_color:#fff;
$site_font_size:18px;
$site_line_height:1.4;
$default_font: 'Open Sans', sans-serif;
$link_color:#2600ff;
$link_hover_color:#2600ff;

// font-family: 'Limelight', cursive;
// font-family: 'Space Mono', monospace;
// font-family: 'Open Sans', sans-serif;