// settings main
$body_color:#000;
$body_bg:#fff;
$placeholder_color:#999;
$selection_bg:#2600ff;
$selection_color:#fff;
$site_font_size:12px;
$site_line_height:1.2;
$default_font: Arial, Helvetica, sans-serif;
$link_color:#2600ff;
$link_hover_color:#2600ff;